#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-area {
  width: calc(100vw - 50vh);
  height: calc(100vh - 30vw);
  padding: 1rem;
}

.button {
  background-color: aliceblue;
  color: black;
  margin: 1rem;
  transition-duration: 2s;
}

.button:hover {
  box-shadow: 0px 1px 82px -8px rgba(0,0,0,0.52) inset;
  -webkit-box-shadow: 0px 1px 82px -8px rgba(0,0,0,0.52) inset;
  -moz-box-shadow: 0px 1px 82px -8px rgba(0,0,0,0.52) inset;
}

.response {
  
}

.read-the-docs {
  color: #888;
}
